@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
@import "mediaquery";
//Primary colors:

$desaturatedRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
//Neutral colors:
$darkGrayishRed: hsl(0, 6%, 24%);
//Fonts:
$mainFont: 'Josefin Sans',
sans-serif;

html {
    font-size: 16px;


    body {
        font-size: 16px;
        font-family: $mainFont;
        margin: 0;
        padding: 0;
        
    }

    .container {

        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
        width: 1440px;
        height: 800px;
        margin: 10% auto;
        display: flex;
        justify-content: space-around;
        height: 100%;

        .leftside {
            width: 60%;
            height: 100%;
            margin-top: 5%;
            margin-left: 15%;

            .logo-wrapper {
                .logo {
                    img {
                        height: 20%;
                        width: 18%;
                    }
                }
            }

            .message-wrapper {
                margin-top: 15%;

                .first-message {
                    h1 {
                        text-transform: uppercase;
                        letter-spacing: 10px;
                        font-weight: 300;
                        color: $desaturatedRed;
                        font-size: 3rem;
                        margin-bottom: 0;

                    }
                }

                .secound-message {
                    h1 {
                        text-transform: uppercase;
                        letter-spacing: 10px;
                        font-weight: 600;
                        color: hsla(0, 0%, 0%, 0.7);
                        font-size: 3rem;
                        margin-top: 0;
                    }
                }
            }

            .greeting-wrapper {
                width: 60%;

                .greeting {
                    h2 {
                        font-size: 1rem;
                        font-weight: 400;
                        color: $desaturatedRed;
                        line-height: 1.5;
                    }
                }

            }

            .email-wrapper {
                margin-top: 5%;
                border: 1px solid $desaturatedRed;
                width: 65%;
                height: 4rem;
                border-radius: 50px;
                position: relative;

                /*Gradients:
            - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)*/
                input {
                    padding: 0 20px;
                    margin: 0 30px;
                    text-decoration: none;
                    border-style: none;
                    height: 100%;
                    width: 70%;
                    font-family: $mainFont;
                    font-size: 1rem;
                    letter-spacing: 1px;

                }

                input:focus {
                    outline: none;
                    border-style: none;
                }

                ::placeholder {
                    color: $desaturatedRed;
                    opacity: 1;

                }

                .btn {
                    position: absolute;
                    right: 0px;
                    top: 0px;
                    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                    height: 100%;
                    width: 25%;
                    border-radius: 50px;
                    border-style: none;
                    box-shadow: 0px 15px 5px rgba(206, 151, 151, 0.4);
                    cursor: pointer;

                }

                .btn:hover {
                    //from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)
                    background-image: linear-gradient(135deg, hsl(0, 74%, 74%), hsl(0, 80%, 86%));
                }
                .btn:focus{
                    outline: none;
                }

                .error {
                    display: none;
                    position: absolute;
                    right: 30%;
                    top: 30%;
                }

                .error.active {
                    display: block;
                }
                .not-valid{
                    position: absolute;
                    width: 50%;
                    top: 120%;
                    left: 10%;
                    color: lightgreen;
                }
                .not-valid.active{
                    color: $softRed;
                }
            }
        }

        .rightside {

            width: 40%;

            img {

                width: 100%;
            }
        }

    }
}
